---
layout: default
---

	<h1>Front-end developer with an affinity for design</h1>

	<blockquote>The art challenges the technology, and the technology inspires the art. <cite>- <a href="http://en.wikipedia.org/wiki/John_Lasseter" title="John Lasseter">John Lasseter</a></cite></blockquote>

	<p>While I enjoy both backend and front-end development, I have constantly moved towards the front-end. The bridge between digital art and technology. The ability to bring interfaces to life.</p>

	<p>In 2011 I attended a Multimedia Degree, however I quickly noticed it didn't match what I wanted to do. So I set off by myself and after a while I started working with clients from multiple countries as a freelancer.</p>

	<p>When the opportunity arises, I'm always looking forward to building new projects of my own. <a href="www.duri.me" title="Duri.me">Duri.me</a> was the first, and after a couple attempts at building something great, I'm now working on a decent-sized web application with some great folks which should be out pretty soon!</p>

	<p>Do you have an awesome project that needs a front-end developer? <a href="mailto:mail@tiagoduarte.com?subject=Hey Tiago!">Get in touch</a>!</p>